out
*.so
*.pyc
.config
.config.old
klippy/.version
klippy/extras/gcode_shell_command.py
klippy/extras/alignment.py
klippy/extras/ktcclog.py
klippy/extras/tool.py
klippy/extras/toolgroup.py
klippy/extras/toollock.py
